a {font-size: 30px;}

a{
    margin-right: 1em;
}

a{
    color: black;
}

#home{
    color: rgb(180, 0, 0);

}



#div-home{
    margin-top: 1em;
}   

#span-home{
    font-size: 18px;
}
#aaaa{
    font-size: 18px;
}