a{
    margin-right: 1em;
}

a{
    color: black;
}

#info{
    color: rgb(180, 0, 0);
}




#div-info{
    margin-top: 1em;
}
#span-info{
    font-size: 18px;
}
#aaaa{
    font-size: 18px;
}